body {
    padding: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    color: rgb(162, 9, 9); /* main couleur*/
}

header p {
    color: rgb(239, 129, 129); /* deuxième couleur */
}

h2 {
    background-color: rgb(162, 9, 9);
    color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

h3 {
    color: rgb(239, 129, 129);
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    padding: 5px;

}

a {
    color: rgb(162, 9, 9);
}

footer {
text-align: center;

}

p {
    text-align: center;
    margin: 10px 0;
}


@keyframes backgroundFade {
    from { background-color: #fff; }
    to { background-color: #e0e0e0; }
}

.profil,
.experiences,
.formation,
.techniques,
.relationnelles,
.activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s; /* ne pas enlever même si useless */
}




img {
    display: block;
    margin: 0 auto;
}
@keyframes fadeIn {
    from { opacity: 0; } /* fade à l'ouverture*/
    to { opacity: 1; }
}

.profil, .experiences, .formation, .techniques, .relationnelles, .activites {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s;
}
h2:hover {
    color: #fff;
    background-color: rgb(200, 0, 0); /* glisser la souris sur chaque nom de section, le rouge s'éclaircit*/
    transition: background-color 0.3s, color 0.3s;
}
a:hover {
    color: #984b4b; /* Liens qui s'éclaircissent*/
    transition: color 0.3s ease-in-out;
}

@keyframes swing {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}

header img {
    animation: swing 2s infinite alternate;
}
